/MODIS/trend_lines/.ipynb_checkpoints
/Sentinel 2/.ipynb_checkpoints

/env

MODIS/Kiambu.zip
MODIS/Kiambu.cpg
MODIS/Kiambu.dbf
MODIS/Kiambu.prg
MODIS/Kiambu.qmd

/MODIS/extracted_aoi

MODIS/modis_outputs

Kiambu.geojson
notebook_config.json
MODIS/__pycache__
MODIS/.ipynb_checkpoints/MODIS_vegetation_production-checkpoint.ipynb
